/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Mission Gothic";
  font-style: italic;
  font-weight: bold;
  src: url('/assets/fonts/Mission Gothic Bold Italic.otf');
}

@font-face {
  font-family: "Mission Gothic";
  src: url('/assets/fonts/Mission Gothic Regular.otf');
}

@font-face {
  font-family: "Mission Gothic Thin";
  src: url('/assets/fonts/Mission Gothic Thin.otf');
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  background: url("/assets/images/absurdidad.png");
}

h1 {
  font-size: 84px;
  margin: 2em 0 0.5em;
  font-family: "Mission Gothic";
  font-weight: bold;
  font-style: italic;
}


p { margin: 1em 0; }

.navigation {
  margin: 20% 0;
}

.navigation a {
  font-family: "Mission Gothic Thin";
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  width: 180px;
  display: inline-block;
  padding: 0.5em 0;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;2
}

.about-page, .work-page, .contact-page {
  display: none;
}