/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Mission Gothic Bold Italic";
  src: url('/assets/fonts/Mission Gothic Bold Italic.otf');
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  background: url("/assets/images/absurdidad.png");
}

h1 {
  font-size: 84px;
  margin: 2em 0 0.5em;
  font-family: "Mission Gothic Bold Italic";
}

}
p { margin: 1em 0; }

.navigation {
  margin: 20% 0;
}

.navigation a {
  font-size: 24px;
  text-transform: uppercase;
  width: 175px;
  display: inline-block;
  padding: 0.5em 0;
}